@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


@theme {
  --color-surface: #ffffff;
  --color-background: #f6efe4;
  --color-primary: #f29057;
  --font-body: 'Nunito', sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: var(--font-body);
  color: #302a26;
}

h1,
h2 {
  font-family: var(--font-body);
  font-weight: 800;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

.home-auth-card [data-slot="card"] {
  max-width: none;
  border: none;
  box-shadow: none;
  height: 100%;
  justify-content: space-evenly;
}

.home-auth-card,
.home-auth-card * {
  font-family: var(--font-body);
}

.auth-view h1,
.auth-view h2 {
  font-weight: 2.25rem;
  font-weight: 700;
}

.home-auth-card [data-slot="card-title"] {
  font-size: 2.25rem !important;
  font-weight: 700 !important;
  line-height: 1.2;
}

.home-auth-card [data-slot="card-description"] {
  font-size: 1rem !important;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.home-auth-card [data-slot="form-control"] {
  border-radius: 12px;
}

.home-auth-card [data-slot="form-label"] {
  font-size: 1.25rem !important;
  margin: 0;
}

.home-auth-card [data-slot="card-content"] {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.home-auth-card [data-slot="form-item"] {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
}

.home-auth-card button[type="submit"] {
  margin-top: -4px;
  border-radius: 12px;
}

.home-auth-card [data-slot="form-control"] {
  gap:0.2rem;
}

.home-auth-card {
  border-left: 4px solid #f58b4f !important;
  border-bottom: 4px solid #f58b4f !important;
  border: 1px solid #efe6da;
  box-shadow: -4px 4px 0 rgba(245, 139, 79, 0.8),
  0 16px 35px rgba(43, 38, 34, 0.08);
}